## libraries section

In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import LabelEncoder

## read datset

In [30]:
df2 = r"C:\Users\Hassan\Downloads\Titanic-Dataset.csv"
df2 = pd.read_csv(df2)
df2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## perform eda

In [31]:
# Drop irrelevant columns or columns with too many missing values
df2.drop(['Name', 'Ticket', 'Cabin'], axis=1, inplace=True)

In [32]:
# Fill missing values for age with median
df2['Age'].fillna(df['Age'].median(), inplace=True)

### label encoding for categorical variables

In [33]:
label_encoder = LabelEncoder()
df2['Sex'] = label_encoder.fit_transform(df2['Sex'])
df2['Embarked'] = label_encoder.fit_transform(df2['Embarked'])

In [34]:
X = df2.drop('Survived', axis=1)  
y = df2['Survived']

## train test split

In [35]:
xtr, xts, ytr, yts = train_test_split(X, y, test_size=0.2, random_state=42)

## linear regression model for prediction

In [36]:
lr = LinearRegression()
lr.fit(xtr, ytr)

LinearRegression()

## make prediction

In [38]:
ypred = linear_reg.predict(xts)
ypred

C:\Users\rahim\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- Fare
Feature names seen at fit time, yet now missing:
- Survived

  warnings.warn(message, FutureWarning)

array([ 230.31413614,  142.94395703,  136.37682146,  468.98488996,
        233.72952761,  932.05869459,  164.55202024,  252.08738031,
        182.68922709,  375.76021252,  597.84193061,  100.72226309,
        355.73431094,  132.01501006,  162.59475522,  520.41010938,
        585.30471335,  166.23722515,  177.60576764,  570.44390672,
        128.68072489,  310.99367275,  169.14643786,  150.32062395,
        195.81311378,  383.1874745 ,  333.75100325,  170.99847915,
        390.61981578,  151.32927906,  137.66981584,  163.35669411,
        386.60178238,  152.19749146,  139.34506659,  216.97220096,
        417.69572364,  164.3169516 ,  420.57961431,  123.58985962,
        850.7601732 ,  112.03983595,  125.51285033,  132.10621512,
        228.44426208,  449.66544944,  138.69219517,  144.96819117,
        119.17818058, 1261.20172834,  342.55708802, 1060.65438051,
        348.28746047, 1387.34616131,   74.35408077,  965.68325056,
        140.56445917, 2777.74898728,  285.44119344,  179.14595416,
        132.20121932,  309.06738006,  351.60895903,  312.64649389,
        130.73728594,  137.52977946,  850.77341958,  121.10127383,
        158.49485838,  906.52094339,  360.35794109, 2996.02434795,
        382.22318484,  986.75253027,  130.99415012,  195.22917219,
        161.80550975,  647.63397141,  193.14156649,  283.63467458,
        496.45737411,  178.71760464, 1549.10607955,  131.94098375,
        342.36036938,  527.16610671, 1323.07037602,  704.7306023 ,
         13.52956283,  115.35517427,  302.22519387,  454.73460612,
        333.63211902,  130.95084124,  122.06191342,  122.0765016 ,
        570.24023673,   98.36811577,  196.13063358,  124.15564155,
        259.2930948 ,  104.05925684, 1097.30558711,   98.35841772,
        121.6370885 ,  126.10123223,  482.85483582,  422.67279026,
        137.14365705,  370.25472485,  634.29824488,  126.77043707,
       1063.09258359,  305.19616553, 2469.06451813,  157.60030143,
        362.81061554,  181.1061747 ,  399.51799787,  435.80721358,
        172.21992303,  914.5682672 ,  865.5712628 ,  403.76484924,
        121.17543976,  329.83341238,  315.60390965,  925.05300459,
        248.966487  ,  135.42609163,  166.10997929,  228.82997723,
         32.06402003,  242.82097493,  642.70899801,  269.38045184,
       1301.60604848,  119.56048638,   98.62080321,  279.8104407 ,
        140.00885524,  328.12968611,  174.82296573,  304.65915229,
        414.10294732,  419.9044414 ,  171.4674681 ,   88.48970544,
       1693.14019735,  102.18683691,  152.2283491 ,  124.78529618,
        137.66274005,  344.54992947,  123.76135845,  113.98591316,
        658.26502002,  164.46234733,  339.58816203,  250.44718378,
        142.1202406 ,  320.3065632 ,  159.07677971,  985.69052037,
        138.09272815,  678.58358786,  155.08228835,  632.29633225,
        132.26207278,  102.71065646,  758.0834997 ,  235.76889325,
        306.43505109,  293.27169642,  131.22127982,  136.29234551,
        428.48595315,  197.1083169 ,  294.97478823])

## evaluate the model accuracy used rsquare

In [40]:
rsq = r2_score(y_test, y_pred)
print("R-squared Score for survival prediction in the titanic dataset is : ", round(r_squared*100),2)

R-squared Score for survival prediction in the titanic dataset is :  40 2